@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  height: 100vh;
  font-size:0.8rem;
}
.ql-editor{
  font-size: 1.05rem;
}
.post-content p{
margin-bottom: 0.5rem;
}
.post-content h1{
  font-family: sans-serif;
  font-size: 1.5rem;
  font-weight:600;
  margin:1.5rem 0
}
.post-content h2{
  font-family: sans-serif;
  font-size: 1.4rem;
  margin:1.5rem 0
}
.post-content iframe{
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height:320px;
  height: 350px;
}
.post-content object{
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height:320px;
  height: 350px;
}
.post-content embed{
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height:320px;

  height: 350px;

}
.post-content a{
  color: rgb(73, 149, 199);
  text-decoration: none;
}
.post-content a:hover{
  text-decoration: underline;
}
.dark .post-content a{
  color: red;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge, and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
