@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  height: 100vh;
  font-size:0.8rem;
}
body p{
  font-size: 0.8rem;
}
body h1{
  font-size: 0.8rem;
}
body h2{
  font-size: 0.8rem;
}
body span{
  font-size: 0.8rem;
}
.ql-editor{
  font-size: 1.05rem;
  min-height: 150px;
}
.post-content p{
margin-bottom: 0.5rem;
}
.post-content h1{
  font-family: sans-serif;
  font-size: 1.5rem;
  font-weight:600;
  margin:1.5rem 0
}
.post-content h2{
  font-family: sans-serif;
  font-size: 1.4rem;
  margin:1.5rem 0
}
.post-content iframe{
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 280px;
}
.post-content object{
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 280px;
}
.post-content em{
  font-style: italic;
}
.post-content strong{
  font-weight: bold;
  font-size: 1.1em;
}
.post-content u{
  text-decoration: underline;
}
.post-content s{
  text-decoration: line-through;
}
.post-content sub{
  vertical-align: sub;
  font-size: smaller;
}
.post-content sup{
  vertical-align: super;
  font-size: smaller;
}
.post-content ul{
  list-style-type: disc;
  margin: 2em;             
  padding-left: 1px;            
}
.post-content ol{
  list-style-type: decimal; 
  margin: 2em;
  padding-left: 1px;
}
.post-content blockquote{
  margin: 1em 40px;
  margin-top: 0.5em;
  font-size: 0.9em;
}
.post-content embed{
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 280px;

}
.post-content a{
  color: rgb(63, 159, 223);
  text-decoration: none;
  font-weight: bold;
}
.post-content a:hover{
  text-decoration: underline;
}
.dark .post-content a{
  color: rgb(73, 149, 199);
}
.ql-syntax{
padding: 0.5rem;
border-radius:5px;
background-color: rgb(59, 58, 58);
color: azure;
}
.dark .ql-syntax{
  padding: 0.5rem;
  border-radius:5px;
  background-color: rgb(59, 58, 58);
  }
.ql-intent-1{
  margin-left: 2em;
}
.ql-indent-5{
  margin-left: 5em;
}
.ql-align-center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge, and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
